<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- P1-6: MVP needs camera (Paper OCR) + internet (Mistral API).
         Broad storage/media permissions removed per Android 13+ restrictions.
         PDF picker uses scoped storage — no READ_EXTERNAL_STORAGE needed.
         If image import is added later, prefer Android Photo Picker. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- P0-3: explicitly disable full-data backup. Brrk stores private documents
         and OCR output in app-private storage. Users must consent to any backup.
         This attribute (and fullBackup=false) disables Android Auto Backup.
         For Android 12+ (API 31+), also set android:dataExtractionRules. -->
    <application
        android:label="Brrk"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false">

        <!-- P0-3: exclude all app data from Android Auto Backup and device-to-device
             transfer on Android 12+ (API 31+). -->
        <!-- P1-7: test Rust native code on Android 15+ with 16 KB page-size enabled.
             Verify app launches and RustLib.init() succeeds. -->
        <property
            android:name="android.support.PROPERTY_IGNORE_SHOULD_BACKUP_ATTRIBUTE"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>